<!doctype html>
<html>
  <head>
    <title>500 Server Error</title>
    <style>
      .error-page {
        width: 400px;
        height: 100vh;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .error-page img {
        height: 50vh;
      }
    </style>
  </head>
  <body>
    <div class="error-page">
      <h1>500 Server Error</h1>
      <img src="/static/flower-outline.jpg" alt="flower outline"/>
      <p>
        We're sorry, but an error occured on our server.
        Please return to our <a href="/">Home Page</a>
      </p>
    </div>
  </body>
</html>
