<footer>
  <div>
  </div>
  <div class="contact">
    KISTNER'S FLOWERS<br>
    1901 Pillsbury Dr.<br>
    Manhattan, KS  66502<br>
    (785) 776-7044 || (800) 532-3409<br>
  </div>
  <div class="social">
    <a href="https://www.instagram.com/kistnersflowers/">
      <img src="/static/instagram.png">
    </a>
    <a href="https://www.facebook.com/KistnersFlowers1946/?fref=ts">
      <img src="/static/fb.png">
    </a>
    <a href="https://www.pinterest.com/kistnersflowers/boards/">
      <img src="/static/pinterest.png">
    </a>
  </div>
</footer>
