<!doctype html>
<html>
  <head>
    <title>Kistner's Flowers: <%= page %></title>
    <link href="/static/kistners.css" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="page">
      <div></div>
      <header></header>
      <div></div>

      <%= navigation %>
      <main>
        <%= content %>
      </main>
      <div></div>

      <div></div>
      <%= footer %>
      <div></div>
    </div>
    <script src="/static/kistners.js"></script>
  </body>
</html>
