<h1>
  Serving you in times of celebration, sorrow and day to day life.
</h1>
<p>
  Offering only the finest floral arrangements and gifts to Manhattan
  and the surrounding areas for over 70 years,
  Kistner's remains family owned and operated.
  Our professional staff has over 30 years of experience and
  the prestigous titles of AFID and CFD.  We stand ready to
  meet all of your floral and plant service needs.
</p>

<h1>Featured Arrangements</h1>
<div class="card-list">
  <%= arrangements %>
<div>
