<!doctype html>
<html>
  <head>
    <title>Authentication Example</title>
    <link href="static/kistners.css" rel="stylesheet"/>
  </head>
  <body>
    <h1>Sign In</h1>
    <form method="POST">
      
      <div class="error-message">
        <%= errorMessage %>
      </div>
      
      <label for="username">Username:</label>
      <input type="text" name="username" />
      <br>
      <label for="password">Password:</label>
      <input type="password" name="password"/>
      <br>
      <input type="submit" value="Sign In"/>
      
        <a href="/update">Update Password</a> <br>
        <a href="/admin">Admin Page</a>
      
    </form>
  </body>
</html>