<!doctype html>
<html>
  
  <head>
    <title>Update Password</title>
    <link href="static/kistners.css" rel="stylesheet"/>
  </head>
  <body>
    <form method="POST">
      
      <div class="error-message">
        <%= errorMessage %>
      </div>
      
      <label for="password">Current Password:</label>
      <input type="password" name="password"/>
      <br>
      <label for="newPassword">New Password</label>
      <input type="password" name="newPassword"/>
      <br>
      <label for="newPasswordConfirmation">New Password Confirmation</label>
      <input type="password" name="newPasswordConfirmation"/>
      <br>      
      <input type="submit" value="Update Password"/>
      
    </form>
  </body>
</html>